<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="_template :: head"></head>
<body>

	<header style="background-color: var(--header-bg)">
		<nav
			class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 m-0">
			<div class="d-flex justify-content-between w-100 align-items-center"
				style="height: 100px;">
				<div class="m-0 p-0">
					<a class="navbar-brand col-4"><img src="../img/weFeed.png"
						width="150" /></a>
				</div>
				<div
					class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1 d-flex justify-content-end mr-5">
						<li class="nav-item"><a class="nav-link current-page"
							style="font-size: 22px; color: var(--main-red); font-weight: bold" 
							href="/">Página Inicial</a></li>
						<li class="nav-item"><a href="/novaDoacao"
							class="nav-link text-dark another-page" style="font-size: 22px"
							>Doar Alimento</a></li>
						<li class="nav-item"><a href="/ong"
							class="nav-link text-dark another-page" style="font-size: 22px"
							>ONGs</a></li>
					</ul>
				</div>

				<div class="m-0 p-0" >				
				

					<a class="navbar-brand" sec:authorize="isAuthenticated()" href="/logout" title="Sair"><img src="../img/portaFechada.png"
						id="porta" width="50" /></a>
						
					<div class="d-flex flex-column justify-content-center" style="margin: 15px;" sec:authorize="isAnonymous()">
                            <a class="btn btn-login" href="login" style=" background-color:  var(--light-red);">Login</a>
                            <a class="link" href="estabelecimento/new">Realizar cadastro</a>
                    </div>
				</div>
			</div>
		</nav>
	</header>
	
	


	<div style="width: 95vw; height: 62vh">
        <main role="main" class="pb-3 h-100">
           	<div class="d-flex w-100 align-items-center h-100">
			    <div class="box-shadow col-9 m-3 h-100 w-70 b-radius">
			        <div class="d-flex">
			            <div class="col-9">
			                <h4 class="title m-4">Bem-vindo(a)!</h4>
			                <p class="paragraph">
			                    O weFeed foi feito para conectar aqueles que querem evitar o descarte de comida e os que não têm
			                    alimento disponível. É a forma de acabar com o desperdício e com a fome em apenas uma solução.
			                </p>
			            </div>
			            <div class="col-3 m-4">
			                <img src="../img/delivery-man.png" width="120" />
			            </div>
			        </div>
			
			        <div>
			            <div class="col-12">
			                <a href="novaDoacao" class="d-flex align-items-center" style="text-decoration: none;">
			                    <h4 class="title">Doações</h4>
			                    <img src="../img/add-button.png" width="40" />
			                </a>
			                <p class="paragraph">
			                    Aqui você pode realizar doações para organizações sem fins lucrativos que aceitem receber 
			                    alimentos, evitando assim o desperdício e ajudando quem precisa.
			                </p>
			            </div>
			        </div>
			    </div>
			
			    <div class="box-shadow col-3 m-3 h-100 b-radius">
			        <h5 class="title d-flex justify-content-center">Informações</h5>
			        <!-- @*<div>
			            @foreach (var site in ViewBag.titles)
			            {
			                <a class="m-auto" href="">@site</a>
			            }
			        </div>*@ -->
			
			        <div class="d-flex flex-column align-items-center">
			            <a class="m-2 info-link" style="text-decoration: none;" href="https://brasil.un.org/pt-br/sdgs/2">Fome Zero e Agricultura Sustentável</a>
			            <a class="m-2 info-link" style="text-decoration: none;" href="https://www.redebrasilatual.com.br/cidadania/2021/10/fome-brasil-19-milhoes-inseguranca-alimentar/" target="_blank">20 milhões de brasileiros sentem fome</a>
			            <a class="m-2 info-link" style="text-decoration: none;" href="https://www.ecycle.com.br/desperdicio-de-alimentos/">Por que o desperdício gera fome?</a>
			            <a class="m-2 info-link" style="text-decoration: none;" href="https://www.embrapa.br/busca-de-noticias/-/noticia/59945046/indice-global-do-desperdicio-de-alimentos-da-onu-estima-em-121-quilos-o-desperdicio-de-comida-per-capita-anual">Desperdício de toneladas de alimentos</a>
			            <a class="m-2 info-link" style="text-decoration: none;" href="https://neogrid.com/br/blog/varejo-mais-sustentavel-como-a-tecnologia-pode-reduzir-o-desperdicio">Reduzir o desperdício com tecnologia</a>
			            <a class="m-2 info-link" style="text-decoration: none;" href="https://conferenciassan.org.br/ativismo-contra-a-fome/">Ativismo contra a fome?</a>
			        </div>
			
			    </div>
			</div>
        </main>
    </div>



	<footer class="border-top footer text-muted box-shadow m-3" style="background-color: var(--medium-grey); height: 13vh; width: 98vw; border-radius: 20px; position: fixed">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <img src="../img/weFeed.png" width="100" /> &copy; 2021 by Poágilers
        </div>
    </footer>


		<!-- Bootstrap core JavaScript
================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" > </script>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			
			<script type="text/javascript" th:src="@{../js/site.js}"> </script>



		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
			crossorigin="anonymous" > </script>
</body>
</html>