<!DOCTYPE html>
<html lang="pt-br">
<head th:include="_template :: head"></head>
<body>

	<header style="background-color: var(--header-bg)">
		<nav
			class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 m-0">
			<div class="d-flex justify-content-between w-100 align-items-center"
				style="height: 100px;">
				<div class="m-0 p-0">
					<a class="navbar-brand col-4"><img src="../img/weFeed.png"
						width="150" /></a>
				</div>
				<div
					class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1 d-flex justify-content-end mr-5">
						<li class="nav-item"><a
							class="nav-link text-dark another-page" style="font-size: 22px"
							href="/">Página inicial</a></li>
						<li class="nav-item"><a class="nav-link current-page"
							style="font-size: 22px; color: var(--main-red); font-weight: bold"
							href="novaDoacao">Doar Alimento</a></li>
						<li class="nav-item"><a
							class="nav-link text-dark another-page" style="font-size: 22px"
							href="ong">ONGs</a></li>
					</ul>
				</div>

				<div class="m-0 p-0">

					<a class="navbar-brand"><img src="../img/portaFechada.png"
						id="porta" width="50" /></a>
				</div>
			</div>
		</nav>
	</header>
	

	<div style="width: 95vw; height: 62vh">
        <main role="main" class="pb-3 h-100">
			<h3>Página de Nova Doação</h3>
           
        </main>
    </div>




	<footer class="border-top footer text-muted box-shadow m-3" style="background-color: var(--medium-grey); height: 13vh; width: 98vw; border-radius: 20px;">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <img src="../img/weFeed.png" width="100" /> &copy; 2021 by Poágilers
        </div>
    </footer>


	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />

	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<link rel="stylesheet"
		href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet"
		href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
		crossorigin="anonymous">

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
		crossorigin="anonymous"></script>
</body>
</html>